<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body>
    <h1>Internship Tracker Dashboard</h1>

    <p><strong>Total Applications:</strong> {{ total }}</p>
    <p><strong>Applied:</strong> {{ applied }}</p>
    <p><strong>Interview:</strong> {{ interview }}</p>
    <p><strong>Rejected:</strong> {{ rejected }}</p>
    <p><strong>Offer:</strong> {{ offer }}</p>

    <br>

    <a href="/applications">View Applications</a><br><br>
    <a href="/applications/new">Add New Application</a><br><br>
    <a href="/jobs">View Jobs</a><br><br>
    <a href="/jobs/new">Add New Job</a><br><br>
    <a href="/resumes">View Resumes</a><br><br>
    <a href="/resumes/new">Add New Resume</a><br><br>
    <a href="/analyze">Analyze Resume and Job</a>
</body>
</html>